/* Scrollbar*/
:root {
  --bg-color: white;
  --grey-text: rgba(0, 0, 0, 0.54);
  --border-color-grey: #edf0f6;
  --background: rgb(245, 242, 247);
  --bg-grey: #f0f0f0;
  --light-blue: #e5f0ff;
  --shadow-0: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #f5f5f5;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: #3b444b;
}

a,
a:hover {
  text-decoration: none;
  color: inherit;
}

html,
body,
#root,
.MeetupApp {
  background-color: var(--background);
  height: 100%;
}

body {
  overflow-x: hidden;
}

.loading {
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.App {
  text-align: center;
  display: flex;
  height: 100%;
}

.button {
  margin: 0 5px !important;
}

.elevate-0 {
  box-shadow: var(--shadow-0);
}

.elevate {
  -webkit-box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
    0 10px 10px -5px rgba(0, 0, 0, 0.04) !important;
  box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
    0 10px 10px -5px rgba(0, 0, 0, 0.04) !important;
}

.elevate-2{
  box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
}

.hr {
  text-align: center;
  width: 100%;
  padding: 1rem 0;
  overflow: hidden;
  font-size: .75rem;
  color: rgba(0, 0, 0, 0.65);
}

.hr:before,
.hr:after {
  background-color: #e3e3e3;
  content: "";
  display: inline-block;
  height: 1px;
  position: relative;
  vertical-align: middle;
  width: 50%;
}

.hr:before {
    right: 0.5em;
    margin-left: -50%;
  }
  
.hr:after {
    left: 0.5em;
    margin-right: -50%;
}

.c {
  display: flex;
  justify-content: center;
  height: calc(100% - 50px);
  width: 100%;
  background-color: var(--background);
}

.MuiListItem-root:hover {
  background-color: #f0f0f0;
}

/* No Entity */
.no-entity {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 0 1.5rem;
}

.no-entity-text {
  margin-left: 1rem;
}

/* Emoji Picker */
.emoji-mart-category-label span,
.emoji-mart-search input {
  font-family: "Lato";
  font-weight: 600;
  font-size: 13px;
}

.emoji-mart-preview {
  height: 50px;
  font-family: "Lato" !important;
  font-weight: 600 !important;
}
.emoji-mart-preview-emoji {
  left: 6px;
}

.emoji-mart-preview-data {
  left: 50px;
}

.emoji-mart-preview .emoji-mart-emoji span {
  width: 25px !important;
  height: 25px !important;
}

.emoji-mart-preview-name,
.emoji-mart-preview-shortnames {
  font-size: 12px;
}

.emoji-mart-title-label {
  color: black !important;
  font-size: 12px !important;
  font-weight: 600 !important;
}

.emoji-mart-preview-emoticons {
  display: none;
}

.divider {
  height: 28px !important;
}

/* Calendar */
.calendar {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  height: 80%;
  margin: auto;
  font-size: 3rem;
  background-color: white;
}

.pic {
  margin-right: 1rem;
}

.user-avatar-sm {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  vertical-align: middle;
}

.user-avatar-xs {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  vertical-align: middle;
}

.categories {
  display: flex;
  flex-wrap: wrap;
  margin: 1rem auto;
  justify-content: center;
}

.home {
  background-color: white;
}

.person {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 1rem 1.5rem;
  border-bottom: 1px solid #eeeeef;
}

.search {
  display: flex;
  align-items: center;
  padding: 0.5rem 1rem;
  height: 60px;
  width: 100%;
  min-width: 300px;
  background-color: var(--bg-color);
  justify-content: center;
}

.search .MuiFormGroup-root {
  flex-wrap: nowrap !important;
}

.search .MuiFormControlLabel-label {
  font-size: 0.75rem !important;
  font-family: "Lato" !important;
  font-weight: 600 !important;
}

.search .MuiFormControlLabel-root {
  margin-right: 0;
}

.category-autocomplete {
  width: 100%;
  min-height: 50px;
  background-color: var(--light-blue);
}

/* Restaurant AutoComplete */
.restauraunt-autocomplete {
  width: 100%;
}

.restauraunt-autocomplete .MuiFilledInput-root,
.restauraunt-autocomplete .MuiFilledInput-root:hover,
.restauraunt-autocomplete .MuiFilledInput-root:active,
.restauraunt-autocomplete .MuiFilledInput-root:focus {
  background-color: white !important;
}

.restauraunt-autocomplete
  .MuiInputAdornment-filled.MuiInputAdornment-positionStart:not(.MuiInputAdornment-hiddenLabel) {
  margin-top: 0;
}

/* Layout */
.innerWrap {
  display: flex;
  width: 100%;
  height: 100%;
  padding-bottom: 2rem;
  overflow: hidden;
}

.innerLeft {
  display: flex;
  padding: 1rem 0.5rem;
  margin: 1.5rem;
  font-size: 1.75rem;
  flex-direction: column;
  width: 300px;
}

.innerLeftHeader {
  display: flex;
  align-items: center;
  width: 100%;
  font-size: 1.2rem;
  background-color: white;
  justify-content: space-between;
  padding: 1rem;
  box-shadow: var(--shadow-0);
}

.innerLeftHeaderBlock {

}

.innerLeftHeaderBlockAction {
  font-size: .7rem;
    display: flex;
    flex-direction: column;
    background-color: white;
    margin-bottom: 1rem;
    padding: .5rem .75rem;
    box-shadow: var(--shadow-0);
}

.innerLeftHeaderBlockAction:last-child{
  margin-bottom: 0;
}

.blockActionHeader {
  display: flex;
  justify-content: space-between;
  font-size: .85rem;
    margin-bottom: .2rem;
    align-items: center;
}

.blockActionChip {
  display: flex;
  padding: 3px 8px;
  font-size: 0.7rem;
  border-radius: 4px;
  text-transform: capitalize;
  margin: 0.25rem 0.15rem;
  align-items: center;
  background-color: var(--light-blue);
  border: 1px solid #eeeeef;
  white-space:nowrap;
}

.blockActionContent {
  display: flex;
  align-items: center;
}

.innerLeftHeaderBlockAction button {
  margin-top: 10px;
}

.innerRight {
    display: flex;
    flex: 1;
    padding: 0 1.5rem;
    border-left: 1px solid #e3e3e3;
    flex-direction: column;
}

.innerRightBlock {
  width: 100%;
  flex: 1;
}

.innerRightBlockHeader {
  padding: 1rem 0;
}

/*Profile*/

@media only screen and (max-width: 1150px) {
  .map-wrapper {
    width: 400px;
    height: 330px;
  }
}


@media only screen and (max-width: 600px) {

  .form {
    margin: 2rem auto;
    width: 100%;
  }

  .c {
    height: calc(100% - 56px);
  }

  .category {
    width: 90%;
  }
  .category-header {
    font-size: 1.5rem;
  }
  .category-actions {
    padding-right: 0;
  }

  .category-social {
    flex-direction: column;
  }

  .category-meetups {
    padding: 0 0;
  }

  .category-friends {
    margin-bottom: 2rem;
  }

  .calendar {
    height: 40%;
    font-size: 2rem;
  }
  .c {
    min-height: 400px;
  }
}
