/* Categories */

.section {
  display: flex;
  flex-direction: column;
  width: 90%;
  height: 90%;
  margin: auto;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 75%;
  max-width: 1100px;
  margin: 0 auto 2rem auto;
}

.description {
  display: flex;
  align-items: center;
  margin-right: 1rem;
  font-size: 1.5rem;
}

.entries {
  display: flex;
  margin-top: 0.5rem;
  flex-wrap: wrap;
  justify-content: center;
}

.entry {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  border: 2px solid transparent;
  border-radius: 4px;
  margin: 0.5rem 0;
  padding: 1rem;
  margin-right: 1rem;
}

.entry:hover {
  border: 2px solid #3f51b5;
}

.placeholder {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  border: 1px solid #edf0f6;
  padding: 1rem;
  margin: 0.5rem 0;
  border-radius: 4px;
  margin-right: 1rem;
  width: 150px;
}

/* Category */
.category {
  display: flex;
  height: 100%;
  margin: auto;
  width: 100%;
  padding-bottom: 1rem;
}

.header {
  display: flex;
  padding: 1rem 0.5rem;
  margin: 1.5rem;
  font-size: 1.75rem;
  flex-direction: column;
  min-width: 300px;
}

.headerAvatar {
  display: flex;
  align-items: center;
  width: 100%;
  font-size: 1.2rem;
  background-color: white;
  justify-content: space-between;
  padding: .5rem .75rem;
  border-bottom: 1px solid #eeeeef;
}

.categoryChip {
  display: flex;
  padding: 3px 8px;
  font-size: 0.7rem;
  border-radius: 4px;
  text-transform: capitalize;
  margin: 0.25rem 0.15rem;
  align-items: center;
  background-color: var(--light-blue);
  border: 1px solid #eeeeef;
  white-space:nowrap;
  margin-left: 10px;
}

.categoryStats {
  font-size: .7rem;
  display: flex;
  background-color: white;
  justify-content: space-around;
  padding: .6rem 1rem;
}

.numberChip {
  padding: 3px 8px;
  font-size: 0.7rem;
  border-radius: 4px;
  text-transform: capitalize;
  margin: 0.25rem 0.15rem;
  align-items: center;
  background-color: var(--light-blue);
  border: 1px solid #eeeeef;
  white-space:nowrap;
}

.categorySettings {
  font-size: .7rem;
  display: flex;
  flex-direction: column;
  background-color: white;
  margin-bottom: 1rem;
  padding: .5rem .75rem;
}

.categorySettings:last-child {
  margin-bottom: 0;
}

.categorySettingHeader {
  font-size: .9rem;
}

.categorySettingInner{
  display:flex;
  align-items: center;
}

.categoryAvatar {
  width: 100px;
  height: 100px;
}

.actionLike {
  font-size: 11px;
  margin-top: 5px;
  margin-left: 2px;
}

.meetups {
  width: 100%;
  flex: 1;
}

.headerTitle {
  display: flex;
  width: 100%;
  padding: 1rem 0;
  font-size: 1.2rem;
  justify-content: flex-start;
}

.categoryHighlight {
  color: #f50057;
  padding: 0 0.5rem;
}

.categoryActions {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 0 1.5rem;
  border-left: 1px solid #e3e3e3;
}

/* Preferences */
.preference {
  background-color: white;
  border-bottom: 1px solid #edf0f6;
  cursor: pointer;
}

.preferenceAvatar {
  width: 30px;
  height: 30px;
}

.preferenceRank {
  margin-right: 20px;
}
