/* Chat */
.chat {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-areas: 
    "column-1 column-1 column-2 column-2 column-2 column-2 column-2";
  width: 75%;
  margin: auto;
  height: 90%;
}

/* ChatBar */
.bar{
    height: 100%;
    background-color: #ffffff;
    color: black;
    grid-area: column-1;
    border-right: 1px solid var(--border-color-grey);
    overflow-y: auto;
}

.barTop{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: .75rem 1rem;
    border-bottom: 1px solid var(--border-color-grey);
    height: 60px;
    font-size: 18px;
    background: var(--bg-color);
}

.contacts{
    height: calc(100% - 60px - 63px);
    overflow-y: auto;
    overflow-x: hidden;
    background-color: white;
}

.search {
    display:flex;
    align-items: center;
    background: var(--bg-color);
    border-top: 1px solid var(--border-color-grey);
    margin-top: auto;
    width: 100%;
    padding: 0 1rem;
}

/* Contact */
.contact{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    border-bottom: 1px solid #edf0f6;
}

.contact:hover{
    background-color: #f1f9ff !important;
    cursor: pointer;
}

.contact.currentRoom{
    background-color: #f1f9ff;
}

.contactTime{
    color: var(--grey-text);
    font-size: .75rem;
}

.contactAvatar{
    transform: scale(.8);
}

.contactInfo{
    display: flex;
    align-items: center;
    padding-right: 10px;
}

.contactUserInfo{
    flex-grow: 1;
}

.contactUserEmail{
    color: var(--grey-text);
}

.avatars{
    display:flex;
    padding: 0 1rem;
    align-items: center;
    font-weight: 600;
    font-size: .75rem;
    color: var(--grey-text);
}

/* ChatWindow */
.window{
    height: 100%;
    overflow-y: auto;
    grid-area: column-2;
    position: relative;
    background-color: white;
}

.header{
    display: flex;
    align-items: center;
    padding: .75rem .5rem;
    border-bottom: 1px solid #edf0f6;
    height: 60px;
    background: var(--bg-color);
    text-align: center;
    font-size: .9rem;
}

.messagesWrapper{
    height: calc(100% - 60px - 63px);
    overflow-y: auto;
    display:flex; 
    flex-direction:column-reverse;
    position: relative;
}

.messages{
    display: flex;
    flex: 1 1 0;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    width: 100%;
    padding: .5rem;
    background: white;
}

.loading{
    position: absolute;
    top: 10px;
    left: 50%;
}

.messagesStart{
    display: flex;
    align-items: center;
    width: 100%;
    padding: 1rem;
}

.messagesStartHighlight{
    margin: 0 .2em;
    color: var(--grey-text);
}

.messagesDate{
    text-align: center;
    width: 100%;
    padding: .5rem 0;
    overflow: hidden;
    font-size: .65rem;
}

.messagesDate:before,
.messagesDate:after {
    background-color: rgb(100,100,100);
    content: "";
    display: inline-block;
    height: 1px;
    position: relative;
    vertical-align: middle;
    width: 50%;
}

.messagesDate:before {
    right: 0.5em;
    margin-left: -50%;
}

.messagesDate:after {
    left: 0.5em;
    margin-right: -50%;
}

.scrollBottomHelper {
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translate(-50%, 0);
}

.scrollBottom{
    opacity: .8;
    font-size: .6rem !important;
}

/* ChatInput */
.inputWrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 .5rem;
    background: var(--bg-color);
    position: relative;
    border-top: 1px solid var(--border-color-grey);
}

.input{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 62px;
    padding: .5rem;
    background: var(--bg-color);
    color: #2b2c33;
    border: 0;
    outline: 0;
    font-size: .75rem;
    font-weight: 600;
}

.inputForm{
    width: 100%;
}

.emojiPickerWrapper{
    position: relative;
}

.emojiPicker{
    position: absolute;
    bottom: 50px;
    left: -207px;
}

.emojiIcon{
    cursor: pointer;
    margin-right: 15px;
    font-size: 1rem;
    transition: .1s ease-in-out;
}

.emojiIcon:hover{
    transform: scale(1.15);
}

.sendButton {
    border-radius: 15;
    font-size: 10px;
    background-color: #FFD460;
}

/* ChatMessage */
.messageWrapper{
    display: flex;
    padding: .5rem 0;
    width: 100%;
}

.messageNotifWrapper{
    display:flex;
    margin: .4rem 0;
    padding: .1rem 0;
    background-color: #d4edda;
    width: 100%;
}

.messageAvatar{
    transform: scale(.7);
}

.messageInner{
    display:flex;
    flex-direction: column;
}

.messageNotif {
    display: flex;
}

.messageInfo{
    display:flex;
    align-items: center;
}

.messageUser{
    margin-right: 8px;
}

.messageTime{
    font-size: .6rem;
    color: var(--grey-text);
}

.message{
    font-weight: 500;
    white-space: -moz-pre-wrap !important;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    white-space: pre-wrap;       /* css-3 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
    white-space: -webkit-pre-wrap; /* Newer versions of Chrome/Safari*/
    word-break: break-all;
    white-space: normal;
}