.thread {
    display:flex;
    justify-content: center;
    width: 100%;
    margin: 0 auto;
    flex-direction: column;
}

.reviewWrapper {
    border-bottom: var(--border-separator);
}

.reviewWrapper:last-child{
    border-bottom: 0;
}

.review {
    display: flex;
    background-color: white;
    padding: 1rem 1rem;
}

.comment {
    display: flex;
    background-color: white;
    padding: 1rem 1rem;
}

.commentLeft {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: .3rem;
}

.commentRight {
    margin-left: auto;
}

.reviewRating {
    margin-top: .25rem;
}

.commentUser{
    display: flex;
    align-items: center;
    margin-bottom: .25rem;
}

.commentName{
    margin-right: 5px;
}

.commentDate {
    font-family: "Open Sans", sans-serif;
    color: var(--grey-text);
    font-size: .7rem;
    font-weight: 500;
}

.commentLikes {
    margin-left: .5rem;
    font-family: "Open Sans", sans-serif;
    color: var(--grey-text);
    font-size: .7rem;
}
.commentActions{
    display: flex;
    align-items: center;
}

.commentActionButton {
    font-family: "Open Sans", sans-serif !important;
    color: var(--grey-text) !important;
    font-size: .65rem !important;
}

.commentVote{ 
    margin-left: .25rem;
    display: flex;
    align-items: center;
}

.commentMiddle {
    display: flex;
    flex-direction: column;
    padding-right: 1rem;
}

.commentText {
    word-break: break-all;
    font-weight: 400;
    font-family: "Roboto"
}

.children {
    margin-left: 2rem;
}
