/* Friends */

.chat {
  background-color: white;
}

/* Invites */

.avatar {
  display: flex;
  align-items: center;
}

.invites {
  margin-top: 1rem;
}

.invite,
.friend {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem;
  padding: 1rem;
  background-color: white;
}

.friend {
  margin-right: 1rem;
  height: 80px;
}
