/* General */
.categoryChip {
  display: flex;
  padding: 3px 8px;
  font-size: 0.7rem;
  border-radius: 4px;
  text-transform: capitalize;
  margin: 0.25rem 0.15rem;
  align-items: center;
  background-color: var(--light-blue);
  border: 1px solid #eeeeef;
  white-space:nowrap;
  box-shadow: var(--shadow-0);
}

.categoryChip .MuiAvatar-colorDefault {
  background-color: #e5f0ff !important;
}

.categoryChipHover:hover{
    -webkit-box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
    0 10px 10px -5px rgba(0, 0, 0, 0.04) !important;
  box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
    0 10px 10px -5px rgba(0, 0, 0, 0.04) !important;
}

.headerIcons {
  display: flex;
  align-items: center;
  text-transform: capitalize;
  font-size: .8rem;
  color: rgba(16, 16, 16, 0.9);
}

.headerIcons > svg {
    margin-right: 5px !important;
}

.headerInfo {
  display: flex;
  align-items: center;
  font-size: 14px;
}

.headerInfo div {
  margin: 0 30px;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 1.25rem 2rem;
  background-color: white;
  align-items: center;
  max-height: 66px;
}

.headerIndented {
    width: 85%;
    margin: 0 auto;
}

/* Meetups */

.calendar{
    font-weight: 400;
 }

.meetupTypes {
    display: flex;
    align-items: center;
    width: 100%;
}

.meetupType:first-child{
    margin-right: 1rem;
}

.meetupType {
    background: var(--background);
    padding: .3rem .8rem;
    border-radius: 5px;
    cursor: pointer;
    border: .5px solid #eeeeef;
    font-size: .8rem;
}

.meetupType:hover {
    background: rgb(250, 250, 250);
}

.meetupTypeActive {
    background: var(--light-blue)
}


.meetupsSearchBar {
  display: flex;
  flex: 1;
  align-items: center;
  transform: scale(.9);
  margin-left: -10px;
}

.meetupsContainer {
  padding: 0 2rem;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
}

.meetupsContainer::-webkit-scrollbar {
  display: none;
}

.preferences {
    font-size: .8rem;
}

.preset {
  width: 100%;
  padding: 0 .25rem;
}

.presetCategory {
  display: flex;
  align-items: center;
  background: white;
  height: calc(2rem + 10px);
  margin: 0.5rem 0;
  padding: 0 .5rem;
  cursor: pointer;
}

.presetCategory:first-child{
    margin-top: 0;
}

.presetCategory:hover{
    background: var(--light-blue);
}

.active {
  background: var(--light-blue);
  border-radius: 4px;
}

.presetCategory img {
  width: auto;
  height: 20px;
}

.meetupCardWrapper {
    max-height: 300px;
    max-width: 500px;
    padding: 1rem;
    flex: 1;
}

/* Meetup */

.member {
    background-color: white;
    box-shadow: var(--shadow-0);
    margin-bottom: .5rem !important;
}

.actions {
  display: flex;
}

.shellList {
  width: 100%;
  padding: 0 !important;
}

/* MeetupEvent */

.addEvent{
    position: absolute;
    bottom: 3rem;
    right: 4rem;
}

.event {
  padding: 1.25rem .5rem;
  width: 100%;
  margin: 0 auto 0 auto;
  border-bottom: var(--border-separator);
}

.event:last-child{
    border-bottom: 0;
}

.addOptionSearch {
  width: 45%;
  margin: 2rem auto 0 auto;
  border-radius: 5px;
  color: white;
  font-weight: 500;
  font-size: 1.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #eeeeef;
  overflow: hidden;
  background-color: white;
}

.secondHeader {
  margin: 1rem auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  width: 92.5%;
  padding: 0.7rem 1.5rem;
}

.secondHeaderLeft {
  display: flex;
  align-items: center;
}

.chosen {
  display: flex;
  width: 85%;
  margin: 0 auto;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding-bottom: 1rem;
}

.chosenMap {
  height: 100%;
}

.chosenRestaurant {
  border-radius: 5px;
  margin: 1.5rem;
  background-color: white;
}

.mapWrapper {
  height: 350px;
  width: 450px;
  overflow: hidden;
}

.eventActions {
  display: flex;
}

.eventDecideActions {
  display: flex;
  justify-content: center;
}

.foursquare {
  display: flex;
  width: 92.5%;
  margin: 0 auto;
  justify-content: center;
}

.meetupEventOptionGrid {
    padding: 0 !important;
}

.explanation {
  background-color: white;
  padding: 1rem;
  display: flex;
  align-items: center;
  max-width: 650px;
}

/* MeetupEventOption */
.cardWrapper {
    width: 290px;
    background-color: white;
    margin: 1rem;
}

.rstWrapper {
  display: flex;
  flex-direction: column;
  min-width: 310px;
  max-width: 286px;
  background-color: white;
  position: relative;
  transform: scale(0.875);
  border-radius: 0.25rem;
}

.rst {
  width: 100%;
  min-height: 210px; /* or other desired height */
  overflow: hidden;
  position: relative;
}

.rstCardBottom {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
  width: 100%;
  padding-bottom: .5rem;
}

.rstImg {
  width: 350px;
  height: auto;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translateY(-50%) translateX(-50%);
}

.rstActions {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  padding: 0.75rem 0;
}

.rstActionIcon {
  display: flex;
  align-items: center;
}

.rstActionScore {
  margin-left: 0.25rem;
}

.rstCategories {
  padding: 0 1.25rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
}

.rstInfo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  width: 100%;
  text-transform: capitalize;
}

.rstInfoTop{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.rstInfoTop > div:first-child{
    margin-right: 10px;
}

.rstInfoName {
    max-width: 220px;
}

.rstHorz {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 300px;
  min-width: 250px;
}

.rstHorzInfo {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.restaurantHorzInfo {
  padding: 0.75rem 1rem;
}

.rstHorzInfoEntry {
  display: flex;
  align-items: center;
  margin-bottom: 0.25rem;
}

.rstHorzInfoEntry:not(:last-child) {
  padding-bottom: 0.5rem;
}

.rstHorzInfoEntry span {
  margin-left: 5px;
}

.banned > div:not(.rstCardBottom),
.banned .rstCardBottom > div:not(.rstActions),
.banned .rstActionIcon {
  opacity: 0.25;
}

.banned {
  background-color: rgb(255, 255, 255, 0.5) !important;
}

.myclick {
  opacity: 1 !important;
}

.clickable {
  cursor: pointer;
}

/* MeetupCard */
.card {
  width: 100%;
  height: 100%;
  min-width: 320px;
  background: white;
  border: var(--border-separator);
  transition: all .3s ease;
}

.card:hover{
  box-shadow: var(--shadow-1);
  border: 1px solid transparent;
}

.cardInner {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.cardTop {
  padding: 1rem 1.25rem 0rem 1.25rem;
  display: flex;
  justify-content: space-between;
  text-transform: capitalize;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.cardIcon {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
}

.cardIcon.flexClip {
  max-width: calc(100% - 170px);
}

.cardIcon.flexClip2 {
  max-width: calc(100% - 120px);
}

.cardIcon > .flexEllipse {
  min-width: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.cardEvents {
  padding: 0 1.5rem;
  border-top: 1px solid rgb(211, 211, 211, 0.4);
  border-bottom: 1px solid rgb(211, 211, 211, 0.4);
}

.cardEventsHeader {
  margin: 0.5rem 0 0 0;
  position: relative;
}

.cardEventsHeader:before {
  position: absolute;
  border: 0.5px dotted black;
  width: 0;
  height: 100px;
  display: block;
  content: "";
  left: 10px;
  top: 25px;
  margin-left: -1px;
}

.cardEventsCategories {
  display: flex;
  flex-wrap: wrap;
  padding: 0 0 0 0.25rem;
}

.cardEventsCategory {
  display: flex;
  flex-direction: column;
  padding: 0 1.5rem;
  margin-top: 0.5rem;
  position: relative;
}

.cardMembers {
  display: flex;
  overflow: hidden;
}

.cardBottom {
  display: flex;
  justify-content: space-between;
  padding: 0 1rem 1rem 1rem;
  text-transform: capitalize;
}

.cardBottom > .cardIcon:not(:last-child) {
  margin-right: 30px;
}

/* MeetupChat */
.meetupChatWrapper{
    align-items: center;
    border-left: var(--border-separator);
    border-right: 0 !important;
}

.meetupChat {
  margin: auto;
  width: 100%;
  height: 100%;
  max-height: 800px;
  font-size: .8rem;
}

.meetupChat .header {
  justify-content: flex-start;
}

.meetupChat .emojiPicker {
    left: -100px;
}

/* MeetupTree */

.tree {
  padding-left: .5rem;
  font-size: .8rem;
  
}

.treeNode {
  font-size: 0.8rem;
  position: relative;
  padding: 4px 0px 0px 0px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow-x: hidden;
  vertical-align: middle;
  color: rgba(0,0,0,.9);
  fill: rgba(0,0,0,.9);
}

.treeTitle {
  vertical-align: middle;
}

.content {
  will-change: transform, opacity, height;
  margin-left: 6px;
  padding: 0px 0px 0px 14px;
  border-left: 1px dashed rgba(0, 0, 0, 0.4);
  overflow: hidden;
}

/* MeetupEventOption*/
.deleteOption {
  position: absolute;
  top: -10px;
  right: -10px;
  cursor: pointer;
}

.previewOption {
  position: absolute;
  cursor: pointer;
  top: 20px;
  right: -12px;
}

.yelpOption {
  position: absolute;
  cursor: pointer;
  top: 50px;
  right: -12px;
}

.deleteOption:hover,
.previewOption:hover {
  transform: scale(1.1);
}

/* RestaurantPreview */
.rstPreview {
    display: flex;
    width: 100%;
    height: 100%;
}

.rstMapWrapper {
  flex: 1;
  min-height: 100%;
  width: 100%;
  overflow: hidden;
}

.rstPreviewInfo {
    flex: 1;
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow-x: hidden;
}

.rstPreviewInfoBottom {
    padding: 1rem 1.5rem; 
    overflow-y: auto;
}

.photos {
  display: flex;
}

.photo {
  display: block;
  max-width: 256px;
  max-height: 192px;
  width: auto;
  height: auto;
}

.previewInfo {
    display: flex;
    padding: 1rem;
}

.previewInfoLeft {
    display: flex;
    flex: 1;
    flex-direction: column;
}

.previewInfoLeft > span {
    padding: .5rem 0;
}

.previewInfoRight {
    display: flex;
    align-items: center;
    flex-direction: column;
    flex: 1;
}

.previewTitle {
  display: flex;
  align-items: center;
  font-size: 1.1rem;
}

.previewTitle > div {
    margin-left: 10px;
}

.review {
    display: flex;
    padding: 1rem 0;
    align-items: center;
}

.reviewInner {
    display:flex;
    flex-direction: column;
    margin-left: 10px;
}

.reviewInfo {
    display: flex;
    align-items: center;
}

.reviewUser {
    margin-right: 8px;
}

.reviewDate {
    font-size: 0.6rem;
    color: var(--grey-text);
}

.reviewComment {
    font-weight: 500;
    white-space: -moz-pre-wrap !important;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    white-space: pre-wrap;
    word-wrap: break-word;
    white-space: -webkit-pre-wrap;
    word-break: break-all;
    white-space: normal;
    padding-right: 1rem;
}

.reviewForm {
  width: 100%;
}

.ratings {
  display: flex;
  flex-direction: column;
  font-size: 1rem;
  margin-bottom: 1rem;
  width: 100%;
  white-space: nowrap;
}

.rating {
  display: flex;
  align-items: center;
  padding: 0.5rem .25rem;
  cursor: pointer
}

.rating:hover {
    background-color: var(--light-blue);
}

.ratingSelected {
    background-color: var(--light-blue);
}

.ratingScore {
  margin-right: 10px;
}


/* Restaurant */
.rstMap {
    width: 100%;
    height: 200px;
    box-shadow: var(--shadow-0);
}


@media only screen and (max-width: 900px) {
    .header {
        padding: 1.25rem 1rem;
    }

    .headerIndented {
        width: 90%;
    }

    .event {
        padding: 0 .5rem;
        width: 100%;
    }

    .event:not(:first-child){
        padding-top: 1.5rem;
    }

    .secondHeader {
        width: 95%;
    }

}

/* Mobile */
@media only screen and (max-width: 1400px) {
    .secondHeader {
        padding: 0.7rem 1rem;
    }
}

@media only screen and (max-width: 768px) {

    .foursquare {
        margin: 1rem auto;
        width: 100%;
    }

    .secondHeader {
        padding: 0.7rem 1rem;
        flex-wrap: wrap;
    }

    .meetupsContainer {
        padding: 1.25rem 1.5rem;
    }
}