.notifications{
    display: flex;
    width: 500px;
    margin: auto;
    max-height: 300px;
    overflow-y: auto;
    flex-direction: column;
    height: 100%;
}

.notification{
    display: flex;
    justify-content: space-between;
    padding: .5rem 1rem;
    border-bottom: 1px solid black;
}

.notification:last-child{
    border-bottom: 0;
}

.notifdate{
    display: flex;
    align-items: center;
    margin-left: 20px;
    font-size: .7rem;
    color: grey;
    white-space:nowrap;
}

.tree{
    position: fixed;
    left: 5%;
    top: 30%;  
    max-width: 200px;
}

.treeNode{
    font-size: .8rem;
    position: relative;
    padding: 4px 0px 0px 0px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow-x: hidden;
    vertical-align: middle;
    color: black;
    fill: black;
}

.treeTitle{
    vertical-align: middle;
}

.content{
    will-change: transform, opacity, height;
    margin-left: 6px;
    padding: 0px 0px 0px 14px;
    border-left: 1px dashed rgba(0, 0, 0, 0.4);
    overflow: hidden;
}