.root {
    display: flex;
    height: 100%;
    position: relative;
}

.appBar{
    display: flex;
    width: 100%;
    padding: 0 3rem;
    position: fixed;
    top: 0;
    height: 80px;
    align-items: center;
    background: white;
    color: black;
    z-index: 1;
    box-shadow: var(--shadow-1);
    transition: all .2s ease;
}

.appBarHome{
    border-bottom: none;
    background: transparent;
    height: 60px;
    box-shadow: none;
    color: white;
    transition: none;
}

.meta {
    flex: 1;
    display: flex;
    align-items: center;
}

.title {
    margin-left: .5rem;
    font-weight: 600;
    font-size: 1.3rem !important;
}

.search {
    display: flex;
    flex: 1;
    color: white;
    box-shadow: 0 2px 18px rgba(0,0,0,.15);
    min-width: 750px;
}

.searchMobile {
    display: flex;
    align-items: center;
    margin-right: 20px;
    font-size: 1.5rem;
    filter: drop-shadow( 1px 1px 1px rgba(0, 0, 0, .65));
    transition: all .2s ease;
}

.searchMobile:hover{
    font-size: 1.75rem;
    cursor:pointer;
}

.mobileSearchBar{
    padding: 1rem;
}

.mobileSearchBar > div {
    width: 100%;
}

.mobileSearchBar > div:not(:last-child) {
    margin-bottom: 1rem;
}

.searchHide {
    display: none;
}

.user {
    display: flex;
    align-items: center;
    flex: 1;
    justify-content: flex-end;
}

.userProfile{
    cursor: pointer;
    transition: all .3 ease;
}

.userProfile:hover{
    transform: scale(1.05);
}

.menu {
    position: absolute;
    right: -20px;
    top: 10px;
    background-color: white;
    width: 200px;
    z-index: 10;
    box-shadow: 0 2px 12px rgba(0,0,0,0.175);
}

.actionButton {
    margin-right: 1rem;
    border-radius: 0 !important;
    font-size: .8rem !important;
}

.actionButton:hover{
    border-bottom: 1px solid yellow !important;
}

.content {
    flex-grow: 1;
    width: 100%;
    height: 100%;
    padding-top: 80px;
}

.contentHome {
    padding-top: 0;
}

.ellipsis {
    font-size: .75rem !important;
    width: 130;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.link{
    font-size: .75rem !important;
    color: var(--grey-text);
}

.name{
    padding-left: 12px !important;
}

.bold {
    color: black;
}

.email {
    color: var(--grey-text);
}