.profile {
  height: 80%;
  display: flex;
  width: 80%;
  margin: auto;
}

.userAvatar {
  margin-right: 10px !important;
}

.userInfo {
  display:flex;
  align-items: center;
}

.header {
  flex: 1 1 0;
}

.profileFriends {
  border-left: var(--border-separator);
}

.friend {
  margin: 1rem 0;
  box-shadow: var(--shadow-0);
}

.friend:first-child{
  margin-top: 0;
}

.friend:last-child{
  margin-bottom: 0;
}

.content {
  display: flex;
  align-items: center;
  padding: 2rem;
  height: 100%;
}

.contentName {
  font-size: 2rem;
  margin-top: -0.5rem;
}

.contentEmail {
  font-weight: 500;
  color: grey;
  font-size: 14px;
}

.recentActivity {
  flex: 2 1 0;
}

.pastactivity {
  display: flex;
  width: 90%;
  margin: 0 auto;
  align-items: center;
  flex-direction: column; 
}

.activity {
  display: flex;
  flex-direction: column;
  background-color: white;
  border: var(--border-separator);
  margin: .75rem .25rem;
  justify-content: space-between;
  font-size: 0.85rem;
  width: 350px;
  border-radius: 5px;
}

.activity:hover{
  box-shadow: var(--shadow-1);
}

.activity:hover .activitydate{
  cursor: pointer;
}

.activityContent {
  border-bottom: var(--border-separator);
  word-wrap: break-word;
  padding: 1rem 1rem;
  font-weight: 500;
  font-size: .8rem;
}

.activitydate {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  white-space: nowrap;
  font-weight: 500;
  font-family: "Roboto";
  font-size: 0.7rem;
  color: #696969;
  padding:.5rem;
}

.infoAll {
  display: flex;
  align-items: center;
  margin-left: 5px;
  justify-content: space-between;
  flex: 1;
}

.infoActivity{
  color: var(--grey-text);
  font-size: .7rem;
  font-weight: 500;
}

.activityLog {
  display: flex;
}

.activityLog > span {
  white-space:nowrap;
}

.activityinfo {
  display: flex;
  padding: .5rem .75rem;
  border-bottom: var(--border-separator);
  width: 100%;
}

.useravatar {
  transform: scale(0.9);
}

.space {
  margin-left: 3px;
}


.imageWrapper{
  width: 100%;
  height: 200px; /* or other desired height */
  overflow: hidden;
  position: relative;
  box-shadow: var(--shadow-0);
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}

.image{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  background-size: cover;
  background-position: 50%;
}