.profile {
  height: 80%;
  display: flex;
  width: 80%;
  margin: auto;
}

.userAvatar {
  margin-right: 10px !important;
}

.userInfo {
  display:flex;
  align-items: center;
}

.header {
  flex: 1 1 0;
}

.friend {
  margin: 1rem 0;
  box-shadow: var(--shadow-0);
}

.friend:first-child{
  margin-top: 0;
}

.friend:last-child{
  margin-bottom: 0;
}

.content {
  display: flex;
  align-items: center;
  padding: 2rem;
  height: 100%;
}

.contentName {
  font-size: 2rem;
  margin-top: -0.5rem;
}

.contentEmail {
  font-weight: 500;
  color: grey;
  font-size: 14px;
}

.recentActivity {
  flex: 2 1 0;
}

.pastactivity {
  display: flex;
  height: 90%;
  flex-direction: column;
  align-items: center;
}

.activity {
  display: flex;
  padding: .75rem 1rem;
  background-color: white;
  box-shadow: var(--shadow-0);
  margin: .75rem 0;
  justify-content: space-between;
  font-size: 0.85rem;
  flex: 1;
  min-width: 500px;
  max-height: 60px;
}

.activitydate {
  display: flex;
  align-items: center;
  white-space: nowrap;
  font-size: 0.7rem;
  color: #696969;
}

.activityinfo {
  display: flex;
  align-items: center;
}

.activity:last-child {
  border-bottom: 0;
}

.useravatar {
  transform: scale(0.8);
}

.link {
  color: red;
  display: flex;
  align-items: center;
}

.space {
  margin-left: 3px;
}
