.pastactivity{
    display: flex;
    height: 100%;
    overflow-y: auto;
    max-height: 350px;
    flex-direction: column;
}

.activity{
    display: flex;
    padding: 1rem;
    border-bottom: 1px solid black;
    justify-content: space-between;
    font-size: .85rem;
}

.activitydate{
    display: flex;
    align-items: center;
    white-space: nowrap;
    font-size: .7rem;
    color: 	#696969;
}

.activityinfo{
    display: flex;
    align-items: center;
}

.activity:last-child{
    border-bottom: 0;
}

.useravatar{
    transform: scale(0.8);
}

.link{
    color: red;
    display: flex;
    align-items: center;
}

.space{
    margin-left: 3px;
}