.settingsFormControl {
  width: 100%;
}

.settingsSelect {
  max-height: 200px;
}

.settingsLocation {
  margin-top: 20px;
  width: 100%;
}

.settingsSave {
  display: flex;
  margin-top: 20px;
  justify-content: flex-end;
}

.active {
  background-color: var(--light-blue) !important;
}

.clickable {
  cursor: pointer;
}

.clickable:hover{
  background-color: var(--light-blue);
}

.form {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  flex: 1 1 auto;
  height: 85%;
}

.formInner {
  width: 80%;
}

.form form {
  background-color: white;
  padding: 1rem;
  box-shadow: var(--shadow-0);
  margin-top: -2rem;
}