@import url(https://unpkg.com/bootstrap@4.3.1/dist/css/bootstrap.min.css);

* {
  font-family: 'Roboto', sans-serif;
}

a, a:hover {
  text-decoration: none;
  color: inherit;
}
html, body, #root, .MeetupApp {
  height: 100%;
}

.App {
  text-align: center;
  display: flex;
  height: 100%;
}
.chat {
  display: grid;
  grid-template-columns: 25% 75%;
  height: 95vh;
  width: 100%;
}
.chat-bar{
  background-color: rgba(32, 32, 35, 1);
  color: white;
}
.chat-window{
  display: flex;
  flex-direction: column;
  background-color: #f4f7fb;
}
.chat-contact{
  display: flex;
  justify-content: center; 
  padding: 1rem;
  flex-direction: column;
}

.chat-contact.curr-room{
  background-color: rgb(50 , 50, 50, 1);
}

.chat-contact:hover{
  background: rgba(0, 0, 0, 0.2);
  cursor: pointer;
}
.chat-messages{
  flex: 1 1 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 85%;
  margin: 0 auto;
  overflow-y: scroll;
  padding: 1.5rem 0;
}

.chat-msg-wrapper.is-user{
  margin-left: auto;
}

.chat-msg{
  max-width: 300px;
  font-size: .85rem;
  padding: .75rem;
  margin: .5rem 0;
  color: #fff;
  background: #2b2c33;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;

}

.chat-msg-info{
  display:flex;
  align-items: center;

  color: white;
  font-size: .8rem;
  justify-content: flex-start;
}

.chat-msg-info.is-user{
  justify-content: flex-end;
}

.chat-msg-time{
  margin-left: 5px;
  color: lightslategrey;
  font-size: .75rem;
}
.chat-msg.is-user{
  background: linear-gradient(90deg, #1986d8, #7b9cc2);
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.chat-input{
  margin-top: auto;
  width: 100%;
  padding: .5rem;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border: 0;
  border-radius: 10px;
  font-size: 1rem;
  outline: 0;
}

.chat-input-form{
  width: 100%;
  margin: .25rem auto;
}
.rsts {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-row-gap: 1rem;
  justify-items: center;
  align-items: center;
  grid-column-gap: 1rem;
}

.rst-wrapper{
  display: flex;
  margin: 1rem 0;
  justify-content: center;
}

.rst-inner-wrapper{
  display:flex;
  flex-direction: column;
}

.rst{
  margin: 6px;
  font-family: 'Roboto', sans-serif;
  font-size: .9rem;
  width: 280px;
  height: 210px;
  overflow: hidden; 
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;

}

.rst-img{
  background-size: cover;
  height: 200px;
  background-position: center center;
  overflow: hidden;
  border-radius: 8px;
}

.rst-info {
  display:flex;
  justify-content: space-between;
  margin-bottom: 5px;
}

.rst-name{
  font-size: 1rem;
  font-weight: bold;
}

.rst-rating{
  font-size: .9rem;
}
.rst-actions {
  display: flex;
  justify-content: space-evenly;
  padding-top: .5rem;
}

.notif-bar {
  display: flex;
}

.c {
  display: flex;
  justify-content: center;
  min-height: 90%;
}
.title {
  font-size: 30px;
}
.inner-wrap {
  width: 100%;
  height: 100%;
  padding: 2rem 4rem;
}

.form {
  display:flex;
  justify-content: center;
  margin: auto;
}

.meetup-event {
  padding: 1.5rem 1.75rem;
  min-height: 800px;
}

.foursquare{
  display:grid;
  grid-template-columns: 50% 50%;
  grid-row-gap: 1rem;
  margin: 1rem 0;
  border: 1px solid #eeeeef;
  border-radius: 4px;
  padding: 1rem;
}

.rst-score {
  display: flex;
  align-items: center;
  font-size: 40px;
  width: 40px;
  max-width: 40px;
}

.mte-header{
  display: flex;
  justify-content: space-between;
  border: 1px solid #eeeeef;
  border-radius: 4px;
  padding: 1rem;
}

.mte-factions{
  display:flex;
  justify-content: center;
  margin: 1.5rem 0 1rem 0;
}

.MuiSvgIcon-root{
  cursor: pointer;
}

.button {
  margin: 0 8px !important;
}

.rst-action-score{
  margin-left: .25rem;
  font-size: .85rem;
}

.mte-actions svg{
  margin-right: 5px;
}

.chosen {
  display: flex;
  border: 1px solid #eeeeef;
  border-radius: 4px;
  padding: 1rem;
  margin-top: 2rem;
}

.map-wrapper{
  border-radius: 10px;
  overflow:hidden;
  margin-top: .5rem;
}

.rst-horizontal {
  display:flex;
  flex-grow: 1;
}
.MuiChip-root{
  margin-right: 5px;
}

.rst-horz-info{
  padding-top: .5rem;
  display: flex;
  flex-grow: 1;
  align-items: flex-end;
  flex-direction: column;
}

.rst-categories{
  padding: .25rem .5rem;
}

.paper {
  padding: 1.5rem 1.75rem;
  margin-bottom: 1.5rem;
}

.invites {
  margin-top: 1rem;
}

.invite, .friend {
  display:flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.friend {
  margin-right: 1rem;
  height: 80px;
}

.friends {
  display: flex;
  margin-top: 1rem;
}

.meetup-cards {
  display: flex;
  justify-content: space-evenly;
}

.inner-header{
  display: flex;
  justify-content: space-between;
  border: 1px solid #eeeeef;
  padding: 1.5rem 2rem;
  border-radius: 4px;
  margin-bottom: 2rem;
}

.pic {
  margin-right: 1rem;
}

.user-avatar {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  vertical-align: middle;
}

.user-avatar-sm {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  vertical-align: middle;
}

.profile{
  display: flex;
  padding: 2rem;
}