a, a:hover {
  text-decoration: none;
  color: inherit;
}

html, body, #root, .MeetupApp{
  background-color: #f5f6fa;
  height: 100%;
}

body {
  font-family: 'Roboto', sans-serif;
}

.horizontal-form{
  display: flex;
  width : 100%;
  max-width: 300px;
}

.bar-img{
  width: 40px;
  height: 50px;
}

.App {
  text-align: center;
  display: flex;
  height: 100%;
}
.chat {
  font-family: "Lato";
  font-weight: 600;
  display: grid;
  grid-template-columns: 30% 70%;
  width: 100%;
  height: 100%;
  overflow-y:auto;
}
.chat-bar{
  height: 100%;
  background-color: #ffffff;
  color: black;
  overflow-y: auto;
}
.chat-bar-top{
  display: flex;
  align-items: center;
  padding: .75rem 1rem;
  border-bottom: 1px solid #edf0f6;
  height: 60px;
  font-size: 15px;
}

.chat-window{
  background-color: #F2F4F8;
  height: 100%;
  overflow-y: auto;
}

.chat-header {
  display: flex;
  align-items: center;
  padding: .75rem 1rem;
  border-bottom: 1.5px solid #edf0f6;
  height: 60px;
}

.chat-contact{
  display: flex;
  justify-content: center; 
  padding: 1rem;
  flex-direction: column;
  color: black;
  height: 85px;
  border-bottom: 1px solid #edf0f6;
  font-weight: 600;
}

.light-text{
  font-weight: 400;
  color: grey;
}
.chat-contact:hover{
  background-color: #f1f9ff !important;
}

.chat-contact-info{
  display: flex;
  align-items: center;
  padding-right: 10px;
}

.chat-contact-user-info{
  flex-grow: 1;
}

.center{
  display:flex;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.chat-contact-avatar{
  margin-right: 10px;
}

.chat-contact.curr-room{
  background-color: #f1f9ff;
}

.chat-contact:hover{
  background: rgba(0, 0, 0, 0.2);
  cursor: pointer;
}
.chat-messages{
  display: flex;
  flex: 1 1 0;
  flex-direction: column;
  align-items: flex-start;
  width: 90%;
  margin: 0 auto;
  padding: 1.5rem 0;
}

.chat-messages-wrapper{
  height: calc(100% - 60px - 62px);
  overflow-y: auto;
  display:flex; 
  flex-direction:column-reverse;
}

.chat-msg-wrapper{
  display:flex;
  align-items: center;
}

.chat-msg-avatar{
  margin-top: 15px;
  margin-right: 10px;
}

.chat-msg-avatar.is-user{
  margin-right: 0px;
  margin-left: 10px;
}

.chat-msg-wrapper.is-user{
  margin-left: auto;
}

.chat-msg{
  max-width: 300px;
  font-size: .8rem;
  font-weight: 600;
  padding: 1rem;
  margin: .5rem 0;
  color: #2C3552;
  background: #FFFFFF;
  border-radius: 5px;

}

.chat-msg-info{
  display:flex;
  align-items: center;

  color: black;
  font-size: .8rem;
  justify-content: flex-start;
}

.chat-msg-info.is-user{
  justify-content: flex-end;
}

.chat-msg-time{
  margin-left: 5px;
  color: lightslategrey;
  font-size: .75rem;
}
.chat-msg.is-user{
  background: #DEE3EE;
}

.chat-input{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: auto;
  margin-right: 2rem;
  width: 100%;
  height: 58px;
  padding: .5rem 1rem;
  background: #F7F9FD;
  color: #2b2c33;
  border: 0;
  font-size: .8rem;
  outline: 0;
}

.chat-input-form{
  width: 100%;
  margin: .25rem auto;
}
.rsts {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-row-gap: 1rem;
  justify-items: center;
  align-items: center;
  grid-column-gap: 1rem;
}

.rst-inner-wrapper{
  display:flex;
  flex-direction: column;
  width: 85%;
  min-width: 350px;
  margin: 0 auto;
  border: 1px solid #eeeeef;
  padding: 1.5rem 2.5rem;
  border-radius: 4px;
  align-items: center;
  background-color: white;
  height: 100%;
  justify-content: space-around;
}

.banned{
  background-color: rgb(255, 255, 255, 0.5) !important;
}

.banned > div:not(.rst-actions) {
  opacity: .3;
}

.banned .rst-action-icon{
  opacity: .3;
}

.myclick {
  opacity: 1 !important;
}

.elevate {
  color: rgba(0, 0, 0, 0.87);
  transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  box-shadow: 0px 3px 3px -2px rgba(0,0,0,0.2), 0px 3px 4px 0px rgba(0,0,0,0.14), 0px 1px 8px 0px rgba(0,0,0,0.12);
  border-radius: 4px;
}

.rst{
  margin: 6px;
  font-family: 'Roboto', sans-serif;
  font-size: .9rem;
  width: 280px;
  height: 210px;
  overflow: hidden; 
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;

}

.rst-img{
  background-size: cover;
  height: 200px;
  background-position: center center;
  overflow: hidden;
  border-radius: 8px;
}

.rst-info {
  display:flex;
  justify-content: space-between;
  margin-bottom: 5px;
}

.rst-name{
  font-size: 1rem;
  font-weight: bold;
  display:flex;
  align-items: center;
}

.rst-name svg{
  margin-left: 5px;
}

.rst-name:hover{
  text-decoration: underline;
}

.rst-rating{
  display:flex;
  align-items: center;
  font-size: .9rem;
}
.rst-actions {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  padding-top: .5rem;
}

.rst-action-icon{
  display:flex;
  align-items: center;
  font-family: "Lato";
  font-weight: 600;
}

.notif-bar {
  display: flex;
}

.c {
  display: flex;
  justify-content: center;
  height: calc(100% - 64px);
  width: 100%;
  background-color: #f5f6fa;
}
.outer-shell{
  display: flex;
  width: 70%;
  margin: 1rem auto 0 auto;
  border: 1px solid #eeeeef;
  border-radius: 4px;
  height: calc(100% - 3rem - 1rem - 12px - 1rem);
  max-height: 250px;
  background-color: white;
  overflow-y: auto;
  font-weight: 600 !important;
  font-family: "Lato" !important;
}

.MuiListItem-root:hover{
  background-color: #F0F0F0;
}

.title {
  font-size: 30px;
}
.inner-wrap {
  width: 100%;
  height: 100%;
  padding: 3rem 4rem;
}

.form {
  display:flex;
  font-family: "Lato";
  justify-content: center;
  margin: 3rem auto;
  width: 90%;
}

.form-paper{
  padding: 2rem 3rem;
}

.price-options{
  margin-top: 1rem;
}
 .distance-options {
  margin-top: 2rem;
}

.meetup-event {
  padding: 0 1.75rem;
  width: 90%;
  margin: 0 auto 2rem auto;
}

.meetups-range {
  width: 100%;
  margin: 1.5rem 0;
}

.meetups-cardwrapper{
  padding: .5rem;
}

.meetups-datespecific{
  margin-top: 1rem;
}

.foursquare{
  display:flex;
  width: 90%;
  margin: 0 auto;
}

.clickable{
  cursor:pointer;
}

.rst-score {
  display: flex;
  align-items: center;
  font-size: 40px;
  width: 40px;
  max-width: 40px;
}

.mte-header{
  display: flex;
  justify-content: space-between;
  border: 1px solid #eeeeef;
  border-radius: 4px;
  padding: 1rem;
}

.mte-factions{
  display:flex;
  justify-content: center;
}

.button {
  margin: 0 8px !important;
}

.rst-action-score{
  margin-left: .25rem;
  font-size: .85rem;
}

.chosen {
  display: flex;
  border: 1px solid #eeeeef;
  border-radius: 4px;
  width: 90%;
  background: white;
  margin: 0 auto;
  padding: 1rem 2rem;
  justify-content: space-between;
}

.map-wrapper{
  height: 100%;
  border-radius: 10px;
  overflow:hidden;
}

.rst-horizontal {
  display:flex;
  flex-direction: column;
}

.rst-horz-info{
  display: flex;
  flex-direction: column;
  padding: 1rem;
  font-weight: 600;
  font-family: "Lato";
}

.rst-horz-info-entry{
  display:flex;
  align-items: center;
  margin-bottom: .25rem;
}

.rst-categories{
  padding: .25rem 1rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
  font-weight: 600;
  font-family: "Lato";
}


.invites {
  margin-top: 1rem;
}

.invite, .friend {
  display:flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem;
  padding: 1.5rem 2rem;
}

.friend {
  margin-right: 1rem;
  height: 80px;
}

.friends {
  display: flex;
  margin-top: 1rem;
  padding: 1rem;
}

.inner-header{
  display: flex;
  justify-content: space-between;
  border: 1px solid #eeeeef;
  padding: 1.5rem 2rem;
  border-radius: 4px;
  background-color: white;
  align-items: center;
}


.inner-header-wrapper{
  width: 100%;
}

.inner-header-top{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.second-header-left{
  display:flex;
  align-items: center;
}

.smaller-header{
  padding: .75rem 2rem !important;
}

.second-header{
  margin: 1rem auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #eeeeef;
  border-radius: 4px;
  background-color: white;
  width: 90%;
}

.inner-header-icons{
  display: flex;
  align-items: center;
  text-transform: capitalize;
}

.inner-header-middle{
  display: flex;
  align-items: center;
  font-family: "Lato";
  font-weight: 600;
  font-size: 14px;
}

.inner-header-middle div {
  margin: 0 30px;
}

.pic {
  margin-right: 1rem;
}

.user-avatar {
  width: 100px !important;
  height: 100px !important;
  font-size: 2rem !important;
}

.user-avatar-sm {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  vertical-align: middle;
}

.user-avatar-xs {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  vertical-align: middle;
}


.profile{
  display: flex;
  padding: 2rem;
  margin: 1rem auto;
  width: 60%;
  border: 1px solid #eeeeef;
  border-radius: 4px;
  align-items: center;
  background-color: white;
}

.categories {
  display: flex;
  flex-wrap: wrap;
  margin: 1rem auto;
  justify-content: center;
}

.category-chip{
    padding: 3px 8px;
    font-size: 0.75rem;
    box-sizing: border-box;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,border 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 500;
    line-height: 1.55;
    border-radius: 4px;
    letter-spacing: 0.02857em;
    text-transform: capitalize;
    box-shadow: 0px 3px 1px -2px rgba(0,0,0,0.2), 0px 2px 2px 0px rgba(0,0,0,0.14), 0px 1px 5px 0px rgba(0,0,0,0.12);
    background-color: #3f51b5;
    color: white;
    margin: .25rem .25rem;
}

.category {
  margin: .5rem;
}

.MuiFab-root{
  width: 100% !important;
}

.Mui-selected {
  color: black !important;
}

.Mui-selected svg{
  fill: black !important;
}

.home{
  background-color: white;
}

.meetups-container{
  width: 95%;
  margin: 0 auto;
  display: flex;
}

.meetup-card-inner{
  height: 100%;
  display:flex;
  flex-direction: column;
  justify-content: space-between;
}

.meetup-card-inner:hover{
  background-color: #F0F0F0;
}

.person{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 1rem 1.5rem;
  border-bottom: 1px solid #eeeeef;
}

.MuiAvatar-root{
  margin-right: 10px;
}

.meetup-card-bottom{
  display:flex;

  padding: 0 2rem 1rem 2rem;
  font-weight: 600;
  font-family: "Lato";
  text-transform: capitalize;
}

.meetup-card-top{
  padding: 1rem 2rem 0rem 2rem;
  display: flex;
  justify-content: space-between;
  text-transform: capitalize;
  font-weight: 600;
  font-family: "Lato";
  white-space: nowrap;
  text-overflow: ellipsis;
  
}

.meetup-card-bottom > .meetup-card-icon {
  margin-right: 20px;
}

.meetup-card-icon{
  display: flex;
  align-items: center;
  white-space: nowrap;
}

.MuiTypography-h5 {
  font-weight: 600 !important;
  font-family: "Lato" !important;
}

.MuiChip-label{
  font-weight: 600 !important;
  font-family: "Lato" !important;
}

.MuiChip-root{
  padding: 3px 4px !important;
  font-size: 0.75rem !important;
  border-radius: 4px !important;
  letter-spacing: 0.02857em;
  text-transform: capitalize;
  box-shadow: 0px 3px 1px -2px rgba(0,0,0,0.2), 0px 2px 2px 0px rgba(0,0,0,0.14), 0px 1px 5px 0px rgba(0,0,0,0.12) !important;
  background-color: #3f51b5 !important;
  color: white !important;
  margin: .25rem .25rem !important; 
}

.MuiChip-deleteIcon{
  color: white !important;
}

@media only screen and (max-width: 1000px){

  .smaller-header{
    flex-wrap: wrap;
  }

  .smaller-header div{
    padding: .5rem 0 ;
  }

  .chosen{
    flex-direction: column;
    align-items: center;
  }
}

@media only screen and (max-width: 600px) {
  .inner-wrap{
    padding: 1rem;
    overflow-y: auto;
  }

  .inner-header{
    padding: 1.5rem;
  }

  .horizontal-form{
    margin-left: 20px;
  }

  .friends {
    margin-top: 0;
    padding: 1rem 0;
  }

  .profile {
    margin: 1rem 0;
    width: 100%;
  }

  .invite{
    padding: 1rem 1.5rem;
  }

  .invites .invite:last-child{
    margin-bottom: 0;
  }

  .outer-shell{
    width: 90%;
  }

  .form {
    margin: 2rem auto;
    width: 100%;
  }

  .form-paper{
    padding: 1.5rem 1rem 1rem 1rem;
  }
  .inner-header{
    flex-wrap: wrap;
    padding: 1rem;
    justify-content: center;
  }
  .inner-header-middle{
    padding: 1rem 0;
  }

  .inner-header button{
    margin-left: 10px;
  }

  .outer-shell{
    
  }

  .meetup-event{
    padding: 0;
  }

  .smaller-header{
    padding: .5rem 1rem !important;
  }

  .second-header{
    width: 100%;
    flex-wrap: wrap
  }
  .foursquare{
    width: 100%;
  }

  h5{
    font-size: 1.75rem !important;
  }
}

.chat-mobile{
  grid-template-columns: 80% 20%;
}